<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="https://seztweets.onrender.com/posts">
        <input placeholder="Enter Username" name="username">
        <textarea placeholder="Write your Post" name="content"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>
